<!-- Kategori -->
<article>
    <div class="akomodasi">
        <div class="container">
            <div class="akomodasi mt-5 mb-5">
                <!-- <ng-container *ngIf="dataamd"> -->
                    <h2>Dina</h2>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne">
                            hellow<!-- {{dataamd [0].detail1}} -->
                        </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lokasi:</div>
                        <div class="accordion-body">Harga:</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne">
                            haiiii
                        </button>
                        </h2>
                        <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lokasi: </div>
                        <div class="accordion-body">Harga: </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- </ng-container> -->
            </div>
        </div>
    <!-- </div> -->
</article>
