<article>
<div class="kategori">
    <div class="container mt-5"> 
        <form class="d-flex" role="search">
            <input type="text" class="form-control me-2" [(ngModel)]= "searchTerm" (keyup)="search($event)" name="something" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> 
        <div class="row">
            <ng-container *ngFor="let k of kategori | filter:searchKey:'title'">
                <div class="col-lg-3" >
                    <div class="card mt-4 mb-3">
                        <img src="{{k.img}}" class="rounded-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{k.judul}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
</article>