<article>
<div class="kuliner">
    <div class="container mt-5">  
        <div class="row">
            <ng-container *ngFor="let k of dtakuliner">
                <div class="col-lg-3" >
                    <div class="card mt-4 mb-3">
                        <img src="{{k.img}}" class="rounded-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{k.judul}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
</article>

