article
{
    background-color: rgb(234, 245, 255);
}
article .container img
{
    height: 200px;
    width: auto;
}
article .container p
{
    font-weight: bold;
    font-size: 20px;
}
article .container button
{
    background-color: #60a0d4;
}
article .container button:hover
{
    background-color: #65ade7;
}