<div class="container col-lg-5">
        <div class="shadow p-3 mb-5 mt-5 bg-body rounded">
            
            <h1>Kontak</h1>

            <div class="form-grup mb-3">
                <label>Nama</label>
                <input title="Name" type="text" formControlName="Name" class="form-control">
            </div>
            <div class="form-grup mb-3">
                <label>Email</label>
                <input title="email" type="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label>Pesan</label>
                <textarea  title="message" type="textarea" formControlName="message" class="form-control" style="height: 100px" rows="3"></textarea>
            </div>
            <button class="btn" type="submit">Kirim</button>
        
        </div>
</div>
