<!-- <article>
    <div class="container">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h1>Contact</h1>
            <!-- <form [formGroup]="registrationForm">
                {{registrationForm.value | json}} -->

                <!-- <div class="form-grup mb-3">
                    <label>Name</label>
                    <input title="Name" type="text" formControlName="Name" class="form-control">
                    <!-- <input [class.is-invalid]="registrationForm.get('Name').invalid && registrationForm.get('Name').touched" formControlName="Name" type="text" title="Name" class="form-control">
                    <small [class.d-none]="registrationForm.get('Name').valid || registrationForm.get('Name').untouched" class="text-danger">Name is required</small>
                    <div *ngIf="Name.invalid && Name.touched">
                        <small *ngIf="Name.errors?.['required']" class="text-danger">Name is required</small>
                        <small *ngIf="Name.errors?.['minlength']" class="text-danger">Name must be at least 5 characters</small>
                    </div> -->
                <!-- </div> -->
                
                <!-- <div class="form-group mb-3">
                    <label>Email</label>
                    <input title="email" type="email" formControlName="email" class="form-control">
                </div> -->

                <!-- <div class="form-group mb-3">
                    <label>Message</label>
                    <textarea  title="message" type="textarea" formControlName="message" class="form-control" style="height: 100px" rows="3"></textarea>
                </div> -->
                
                <!-- <button class="btn" type="submit">Kirim</button> -->
            <!-- </form> -->
        <!-- </div>
    </div> -->
<!-- </article> -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="shadow p-3 mb-5 mt-5 bg-body rounded">
                
                <h1>Kontak</h1>

                <div class="form-grup mb-3">
                    <label>Nama</label>
                    <input title="Name" type="text" formControlName="Name" class="form-control">
                </div>
                <div class="form-grup mb-3">
                    <label>Email</label>
                    <input title="email" type="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label>Pesan</label>
                    <textarea  title="message" type="textarea" formControlName="message" class="form-control" style="height: 100px" rows="3"></textarea>
                </div>
                <button class="btn" type="submit">Kirim</button>
            
            </div>
        </div>
    </div>
</div>