<article>
    <div class="about">
        <div class="container">
            <div class="row text-center mb-5">
                <img src="../../../assets/img/logo.png" class="card-img-top" alt="">
                <div class="row text-center mb-3">
                    <h2>Tentang Kami</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p>
                        Tujuan kami membuat website ini untuk memperkenalkan atau memamerkan destinasi wisata kami sehingga dapat meningkatkan pendapatan daerah. Menjaga dan merawat tempat-tempat kuno dan melestarikannya. Mengurangi jumlah pengangguran yang ada, meningkatkan UMKM masyarakat sekitar dengan berjualan di kawasan pariwisata.
                        </p>
                    </div>
                    <div class="col-5">
                        <p>
                        Mencoba berkreasi dengan merubah tempat wisata alam yang ada menjadi lebih menarik dan lebih maju sehingga dapat meningkatkan jumlah pengunjung yang datang. Semoga dengan adanya website ini kita dapat mengembangkan dan memamerkan keindahan alam yang ada di pelosok daerah.
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</article> 