<article>
    <div class="container">
        <div class="shadow p-3  mb-5 mt-5 bg-body rounded">
        <ng-container *ngIf="dtakuliner">
            <div class="card-grup">
                <div class="row">
                    <div class="col-lg-4"><img src="{{ dtakuliner [0].img}}" alt=""></div>
                    <div class="col-lg-8">
                        <h1 class="card-title">{{dtakuliner [0].judul}}</h1>
                        <h2>
                            {{dtakuliner [0].detail}}
                        </h2>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
    </div>
</article>
